@import 'styles/core/variables';

.navbar {
  background-color: white;
  box-shadow: 2px 13px 12px -16px rgba(0, 0, 0, 0.75);
  z-index: 999;
}

.navbar-brand {
  color: $primary-lightest !important;
  font-weight: bold;
}

.nav-link {
  color: #6b6b6b;
  font-weight: bold;

  img {
    margin: 3px;
  }
}

.navbar-brand:hover,
.nav-link:hover {
  color: $primary-light;
}

@media (max-width: 991.98px) {
  .nav-link {
    font-size: 12px !important;
  }
}