@import "../../styles/core/variables";

.project-list-item {
  border-radius: 15px;
  max-width: 600px;
  transition: box-shadow 500ms;
  transition: background-color 500ms;
  
  .project-list-item__image {
    transition: all 200ms;
  }

  &:hover {
    cursor: pointer;
    .project-list-item__image {
      box-shadow: 10px 10px 20px rgba(69, 90, 100, 0.25);
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    width: 156px;
    height: 156px;
    border-radius: 38px;
    box-shadow: none;
    background-color: white;
    img {
      width: 100%;
    }
  }
}
