@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@import 'core/variables';
@import '~bootstrap/scss/bootstrap';
@import '~nprogress/nprogress.css';

// To make full-height page
#__next {
  height: 100% !important;
}

.border-thick {
  border-width: 14px !important;
}

.ant-list-item,
.border-lightest {
  border-color: $primary-lightest !important;
}

.bg-lightest {
  background-color: $primary-lightest !important;
}

.bg-light {
  background-color: $primary-light !important;
}

.bg-filled,
.bg-half-filled,
.bg-half {
  background: no-repeat !important;
  background-size: cover !important;
}
.bg-filled {
  background-image: url('/backgrounds/background-filled.svg') !important;
}
.bg-half-filled {
  background-image: url('/backgrounds/background-half-filled.svg') !important;
}
.bg-half {
  background-image: url('/backgrounds/background-half.svg') !important;
}

.shape-background {
  background: no-repeat;
  background-size: 100%;
  background-image: url('/backgrounds/Shape-0.svg');
}

.login {
  width: 80%;
  margin: 10% auto;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9,
    -20px -20px 60px #ffffff;

  .form__block {
    margin: 100px 50px 80px 50px;
  }

  label {
    font-weight: 500;
  }

  button {
    margin-top: 30px;
    width: 150px;
  }
}

.login__img {
  // Тет будет инфографика картинка но пока ее нет
  background-image: url('https://images.unsplash.com/photo-1588482524157-c23785098665?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80');
  background-size: cover;
}

.login__data {
  border-radius: 50px;
  border: 1px solid #FDB15D;
  background-color: #FAFADC;
}