@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap');

@import 'core/variables';
@import '~bootstrap/scss/bootstrap';
@import '~nprogress/nprogress.css';

// To make full-height page
#__next {
  min-height: 100% !important;
}


body {
  font-family: Montserrat;
}
.no-shadow {
  box-shadow: none !important;

}

.border-thick {
  border-width: 14px !important;
}

.ant-list-item,
.border-lightest {
  border-color: $primary-lightest !important;
}

.bg-lightest {
  background-color: $primary-lightest !important;
}

.bg-light {
  background-color: $primary-light !important;
}

.bg,
.bg-filled,
.bg-white-filled,
.bg-half-filled,
.bg-half,
.bg-guy {
  background: no-repeat !important;
  background-size: cover !important;
}
.bg {
  background-image: url('/backgrounds/background.svg') !important;
}

.bg-filled {
  background-image: url('/backgrounds/background-filled.svg') !important;
}

.bg-white-filled {
  background-image: url('/backgrounds/background-white.svg') !important;
}

.bg-half-filled {
  background-image: url('/backgrounds/background-half-filled.svg') !important;
}

.bg-half {
  background-image: url('/backgrounds/background-half.svg') !important;
}

.bg-guy {
  background-size: contain !important;
  background-image: url('/backgrounds/some_guy.svg') !important;
  background-position: right !important;
}

.shape-background {
  background: no-repeat;
  background-size: 100%;
  background-image: url('/backgrounds/Shape-0.svg');
}

.login {
  width: 80%;
  margin: 10% auto;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;

  .form__block {
    margin: 100px 50px 80px 50px;
  }

  label {
    font-weight: 500;
  }

  button {
    margin-top: 30px;
    width: 150px;
  }
}

.login__img {
  // Тет будет инфографика картинка но пока ее нет
  background-image: url('/icons/background.png');
  background-size: cover;
}

.login__data {
  border-radius: 50px;
  border: 1px solid #fdb15d;
  background-color: #fafadc;
}

.ant-btn-primary {
  border-color: $primary !important;
  background-color: $primary !important;
}

.ant-btn:hover,
.ant-btn:focus {
  color: rgb(235, 142, 70) !important;
  background-color: rgb(255, 255, 255) !important;
  border-color: rgb(235, 142, 70) !important;
}

a {
  color: $primary;
}
a.btn-primary {
  color: white !important;
}

.btn-outline-primary:hover {
  color: white !important;
}

.btn-rounded {
  border-radius: 23.5px;
}

.btn-gradient {
  background: linear-gradient(270deg, $primary 0%, $primary-light 100%);
  border: none !important;
  border-radius: 23.5px;
}

.card-empty {
  background: #ffffff;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}

.lead-land-text {
  font-size: 18px !important;
}

.lead-land-title {
  font-size: 48px !important;
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .lead-land-text, .btn-gradient {
    font-size: 14px !important;
  }

  .lead-land-title {
    font-size: 28px !important;
  }
}
