@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@import 'core/variables';
@import '~bootstrap/scss/bootstrap';
@import '~nprogress/nprogress.css';

// To make full-height page
#__next {
  min-height: 100% !important;
}

.border-thick {
  border-width: 14px !important;
}

.ant-list-item,
.border-lightest {
  border-color: $primary-lightest !important;
}

.bg-lightest {
  background-color: $primary-lightest !important;
}

.bg-light {
  background-color: $primary-light !important;
}

.bg-filled,
.bg-white-filled,
.bg-half-filled,
.bg-half,
.bg-guy {
  background: no-repeat !important;
  background-size: cover !important;
}

.bg-filled {
  background-image: url('/backgrounds/background-filled.svg') !important;
}

.bg-white-filled {
  background-image: url('/backgrounds/background-white.svg') !important;
}

.bg-half-filled {
  background-image: url('/backgrounds/background-half-filled.svg') !important;
}

.bg-half {
  background-image: url('/backgrounds/background-half.svg') !important;
}

.bg-guy {
  background-size: contain !important;
  background-image: url('/backgrounds/some_guy.svg') !important;
  background-position: right !important;
}

.shape-background {
  background: no-repeat;
  background-size: 100%;
  background-image: url('/backgrounds/Shape-0.svg');
}

.login {
  width: 80%;
  margin: 10% auto;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9,
    -20px -20px 60px #ffffff;

  .form__block {
    margin: 100px 50px 80px 50px;
  }

  label {
    font-weight: 500;
  }

  a {
    margin-top: 30px;
    width: 150px;
  }
}

.login__img {
  background-image: url('/backgrounds/background.png');
  background-size: 100% 100%;
  border-radius: 20px 0px 0px 20px;
}

.login__data {
  border-radius: 50px;
  border: 1px solid #FDB15D;
  background-color: #FAFADC;
}

.ant-btn-primary {
  border-color: $primary !important;
  background-color: $primary !important;
}

.ant-btn:hover,
.ant-btn:focus {
  color: rgb(235, 142, 70) !important;
  background-color: rgb(255, 255, 255) !important;
  border-color: rgb(235, 142, 70) !important;
}

a {
  color: $primary !important;
}

a.btn-primary {
  color: white !important;
}

.btn-outline-primary:hover {
  color: white !important;
}

.project {
  padding: 5% 0%;
}

.index__btn {
  background: linear-gradient(270deg, #DE6A1E 0%, #FDB15D 100%);
  border-radius: 23.5px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 140%;
  padding: 10px 0px;
  width: 250px;
  border-color: white;
}

.bets__card {
  width: 80%;
  margin: 5% auto;
  border-radius: 20px;
  background: #ffffff;
}

.bets__profile {
  padding: 20px;
}

.bets__content {
  padding: 10% 5%;
}